# where dailies should look for your personal configuration.
# this file should live outside of the repository and contains
# access keys, enabled integrations, and word bank settings.
DAILIES_CONFIG="~/.dailies/config.json"

# automatically git pull before updates and git push after saving
AUTO_GIT=1
