# where dailies should look for your personal configuration.
# this file should live outside of the repository and contains
# access keys, enabled integrations, and word bank settings.
DAILIES_CONFIG="~/.dailies/config.json"

# where dailies should store your entries
# initialize a git repository here and turn on
# auto-git to pull/push when making updates
DAILIES_DATA="~/.dailies/data/"

# automatically git pull before updates and git push after saving
AUTO_GIT=0
